
.App{
  background-color: rgb(79, 76, 83);
  color: rgb(208, 189, 215);
  min-height:100vh;
}
.Navbar{
    background-color: rgb(79, 76, 83);
    color:  rgb(208, 189, 215);
    padding: 0px;
    text-align: center;
    display: flex;
}
.Nav-bar{
    background-color: rgb(79, 76, 83);
    color: rgb(208, 189, 215);
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;

  
}
.Navbar p{
  text-align: left;
  font-size: 15px;
  gap:15px;
  font-family: 'Times New Roman', Times, serif;
  align-items: center;
    justify-content: space-between;

}
.Navbar a{
  text-decoration: none;
  font-style: none;
  padding: 10px;
  color: rgb(208, 189, 215);
  display: flex;
  

  
}
.Image{
  align-items: left;
  object-fit: cover;
  
  padding: 10px;
  margin: 10px;
}
.Info {
  max-width: 500px;
  font-family: 'Times New Roman', Times, serif;
  font-size: medium;
  text-align: left;
}